<section class=" min-h-[25rem] w-full items-start overflow-hidden bg-gray-900 py-8 text-white/70 border-t border-white/10">
  <ul class="page-width grid list-none grid-cols-1 gap-4 p-0">
    <li>
      <div>
        <span>
          {{- 'icon-phone.svg' | inline_asset_content -}}
        </span>
      </div>
      <div>
        Phone
        <a href="tel:+380993815288"> (099) 381-5288 </a>
      </div>
    </li>

    <li>
      <div>
        <span>
          {{- 'icon-clock.svg' | inline_asset_content -}}
        </span>
      </div>
      <div>
        Working hours
        <span>Mon-Fri 9:00–18:00</span>
      </div>
    </li>

    <li>
      <div>
        <span>
          {{- 'icon-email.svg' | inline_asset_content -}}
        </span>
      </div>
      <div>
        Email
        <a href="mailto:info@informatica.com.ua"> info@informatica.com.ua </a>
      </div>
    </li>

    <li>
      <div>
        <span>
          {{- 'icon-map-pin.svg' | inline_asset_content -}}
        </span>
      </div>
      <div>
        Address
        <span>1 Example St, Kyiv, Ukraine</span>
      </div>
    </li>
  </ul>

  <p class="page-width mt-4 text-center text-sm text-gray-400 font-narrow">
    © 2025 Informatica. Developed by
    <a href="https://serhii.vercel.app/" class="text-gray-300 underline"> serhii.vercel.app </a>
  </p>
</section>

{% schema %}
{
  "name": "Custom Footer",
  "tag": "footer",
  "settings": [],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
