<section class="page-width min-h-[25rem] w-full items-start overflow-hidden bg-gray-900 py-8 text-white/70 border-t border-white/10">
  <ul class="grid list-none grid-cols-1 gap-4 p-0">
    <li class="grid grid-cols-[50px_1fr] items-center whitespace-pre py-2">
      <div class="flex size-8 items-center justify-center">
        <span class="svg-wrapper">
          {{- 'icon-phone.svg' | inline_asset_content -}}
        </span>
      </div>
      <div class="font-narrow">
        Телефон
        <a href="tel:+380993815288" class="text-white/70 ml-2 font-bold"> (099) 381-5288 </a>
      </div>
    </li>

    <li class="grid grid-cols-[50px_1fr] items-center whitespace-pre py-2">
      <div class="flex size-8 items-center justify-center">
        <span class="svg-wrapper">
          {{- 'icon-clock.svg' | inline_asset_content -}}
        </span>
      </div>
      <div class="font-narrow">
        Графік роботи
        <span class="ml-2 font-narrow">Пн-Пт 9:00–18:00</span>
      </div>
    </li>

    <li class="grid grid-cols-[50px_1fr] items-center whitespace-pre py-2">
      <div class="flex size-8 items-center justify-center">
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </div>
      <div class="font-narrow">
        Email
        <a href="mailto:info@informatica.com.ua" class="text-white/70 ml-2 font-bold"> info@informatica.com.ua </a>
      </div>
    </li>

    <li class="grid grid-cols-[50px_1fr] items-center whitespace-pre py-2">
      <div class="flex size-8 items-center justify-center">
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </div>
      <div class="font-narrow">
        Адреса
        <span class="ml-2 font-narrow">вул. Прикладна, 1, Київ, Україна</span>
      </div>
    </li>
  </ul>

  <p class="mt-4 text-center text-sm text-gray-400 font-narrow">
    © 2025 Informatica. Розроблено
    <a href="https://serhii.vercel.app/" class="text-gray-300 underline"> serhii.vercel.app </a>
  </p>
</section>

{% schema %}
{
  "name": "Custom Footer",
  "tag": "footer",
  "settings": [],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
