.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
}

@media screen and (min-width: 990px) {
  .list-menu--disclosure {
    width: 288px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #f3f4f6;
    box-shadow:
      inset 0 0 0 1px rgba(0, 0, 0, 0.05),
      0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 16px 0;
    z-index: 50;
  }
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
