.page-title {
  margin-top: 0;
}

.main-page-title {

  font-family: 'Chakra Petch', 'Tektur', sans-serif;
  font-weight: 500;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
